<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/cars/{id}(id=${car.getId()})}" th:object="${car}">
        <label for="number">ENTER NUMBER: </label>
        <input type="text" th:field="*{number}" id="number"/>
        <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number error</div>
        <br/>
        <label for="name">ENTER NAME: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <input type="submit" value="Edit!">
    </form>
</body>
</html>